/*--------------------------------------------------------------
# CSS for Loader
--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

#overlay{
    position:absolute;
    z-index:99999;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background: #15202B;
    transition: 1s 0.4s;
  }
  #progress{
    height:1px;
    background: #FFFFFF;
    position:absolute;
    width:0;
    top:50%;
  }
  #progstat{
    font-size:0.7em;
    font-family: "JetBrains Mono", monospace;
    letter-spacing: 3px;
    position:absolute;
    top:50%;
    margin-top:-40px;
    width:100%;
    text-align:center;
    color: #1DA1F2;
  }