/*--------------------------------------------------------------
# Light shuffle theme CSS
--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

/*.container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}*/

/* For tablet screens */
@media only screen and (min-width: 600px) {
  .text {
    font-weight: 100;
    font-size: 21px;
    color: #282a36;
    font-family: "JetBrains Mono", monospace;
  }
}

/* For mobile screens */
@media only screen and (min-width: 400px) {
  .text {
    font-weight: 100;
    font-size: 11px;
    color: #282a36;
    font-family: "JetBrains Mono", monospace;
  }
}

.text {
  font-weight: 100;
  font-size: 34px;
  color: #282a36;
  font-family: "JetBrains Mono", monospace;
}

.dud {
  color: #282a36;
}