@import 'https://fonts.googleapis.com/css2?family=VT323&display=swap';

#overlay{
    position:fixed;
    z-index:99999;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background: #fdf6e3;
    transition: 1s 0.4s;
  }
  #progress{
    height:1px;
    background: #0072b1;
    position:absolute;
    width:0;
    top:50%;
  }
  #progstat{
    font-size:0.7em;
    font-family: 'VT323', monospace;
    letter-spacing: 3px;
    position:absolute;
    top:50%;
    margin-top:-40px;
    width:100%;
    text-align:center;
    color: #073642;
  }