@import 'https://fonts.googleapis.com/css2?family=Sacramento&family=Shadows+Into+Light&display=swap';

/*.container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}*/

/* For tablet screens */
@media only screen and (min-width: 600px) {
  .text {
    font-weight: 100;
    font-size: 30px;
    color: #073642;
    font-family: 'Shadows Into Light', cursive;
  }
}

/* For mobile screens */
@media only screen and (min-width: 768px) {
  .text {
    font-weight: 100;
    font-size: 25px;
    color: #073642;
    font-family: 'Shadows Into Light', cursive;
  }
}

.text {
  font-weight: 100;
  font-size: 34px;
  color: #073642;
  font-family: 'Shadows Into Light', cursive;
}

.dud {
  color: #073642;
}