@import 'https://fonts.googleapis.com/css2?family=Special+Elite&display=swap';

/*.container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}*/

/* For tablet screens */
@media only screen and (min-width: 600px) {
  .text {
    font-weight: 100;
    font-size: 25px;
    color: #e1e8ed;
    font-family: 'Special Elite', cursive;
  }
}

/* For mobile screens */
@media only screen and (min-width: 768px) {
  .text {
    font-weight: 100;
    font-size: 25px;
    color: #e1e8ed;
    font-family: 'Special Elite', cursive;
  }
}

.text {
  font-weight: 100;
  font-size: 34px;
  color: #e1e8ed;
  font-family: 'Special Elite', cursive;
}

.dud {
  color: #e1e8ed;
}